.footer_container {
    background-color: black;
    display: flex;
    width: 100%;
    max-width: 100%;
  }
  .footer_container ul {
    display: flex;
    list-style: none;
    margin: auto;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer_container li {
    padding: 0 5px;
    margin: auto;
  }
  
  .footer_container a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }
  .icon_container {
    display: flex;
    z-index: 1;
    flex: 5;
    margin: auto;
    justify-content: center;
  }
  .largerLink a {
    font-size: 1.5rem;
  }
  
  