.screen_container {
    padding: 60px 0;
    min-height: 80vh;
  }
  
  .blogs_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 80px;
    max-width: 1000px;
    margin: auto;
  }
  .blog_card {
    background-color: grey;
    z-index: 2;
    margin: auto;
    padding: 5px;
    margin-bottom: 40px;
  }
  .image_clipper {
    height: 300px;
    overflow: hidden;
    background-color: grey;
  }
  .blog_image {
    width: 100%;
    max-width: 250px;
    min-width: 180px;
    margin-top: -30px;
  }
  .blog_card p {
    text-align: center;
    font-size: 1.2rem;
    max-width: 250px;
  }
  .link {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    float: right;
  }
  
  