.screen_container {
    padding: 60px 0;
    min-height: 80vh;
  }
  
  .imagesSlide_container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    justify-content: center;
  }
  
  .imagesSlide_image {
    padding: 60px;
    margin: 0;
  }
  